.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  color: blueviolet; /* Label color */
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
}

.custom-checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white; /* Checkbox background */
  border: 2px solid blueviolet; /* Border color */
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.custom-checkbox:checked {
  background-color: blueviolet; /* Checked background color */
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
