::selection {
  background: blueviolet;
  color: white;
  padding: 12px;
}

.passwordSection {
  width: 80%;
  height: auto;
  border: 2px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 4%;
  border-radius: 20px;
}
.headerTitle {
  background: blueviolet;
  color: white;
  width: 100%;
  padding: 5px;
  border-radius: 16px;
}

.subSectionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
}
.alignItemsCenter {
  align-items: center;
}
.justifyContentSpaceBetween {
  justify-content: space-between;
}
.gap12px {
  gap: 12px;
}
.passwordField {
  display: flex;
  flex: 1;
  border-radius: 10px 0 0 10px;
  border: 0;
  background: white;
  color: blueviolet;
  padding: 5px;
  padding-left: 14px;
  font-size: medium;
  font-weight: 600;
}

.copyMe {
  border: 0;
  border-radius: 0 10px 10px 0;
  background: blueviolet;
  transition: background 0.3s, transform 0.3s;
}

.copyMe:hover {
  transform: scale(1.05);
  border: 0;
  background: #9d4edd;
}

.copyMe:active {
  transform: scale(1);
  background: #6c2db6;
  border: 0;
}

/* .................... */

.generateButton {
  border: 0;
  border-radius: 10px;
  background: blueviolet; /* Base background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding for the button */
  font-size: medium;
  font-weight: bold;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background 0.3s, transform 0.3s;
  margin-top: 12px;
  width: 100%;
}

.generateButton:hover {
  background: #9d4edd; /* Lighter color for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.generateButton:active {
  background: #6c2db6; /* Darker color for active (pressed) effect */
  transform: scale(1); /* Reset to original size when clicked */
}

.generateButton:focus {
  outline: none; /* Remove default outline on focus */
}
